/*! ------------------------------------------------
 * Project Name: Mixio - Five in One Elegant Coming Soon and Landing Page Template
 * Project Description: Mixio - awesome coming soon template to kick-start your project
 * Tags: mix_design, coming soon, under construction, template, landing page, portfolio, one page, responsive, html5, css3, creative, clean, agency, personal page
 * Version: 2.0.3
 * Build Date: July 2018
 * Last Update: January 2024
 * This product is available exclusively on Themeforest
 * Author: mix_design
 * Author URI: https://themeforest.net/user/mix_design */
/*! File name: main-demo.css
 * ------------------------------------------------
 *
 * ------------------------------------------------
 * Table of Contents
 * ------------------------------------------------
 * 1. Animations
 * 2. Loader
 * 3. Loading Animation
 * 4. Fonts
 * 5. Base CSS Styles
 * 6. Typography
 * 7. Buttons & Triggers
 * 8. Intro
 * 9. Preview Sections
 * 10. Subscribe Section
 * 11. Footer
 * ------------------------------------------------
 * Table of Contents End
 * ------------------------------------------------ */
/* ------------------------------------------------*/
/* Animations Start */
/* ------------------------------------------------*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0);
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes slideInDown {
  from {
    -moz-transform: translate3d(0, -50px, 0);
         transform: translate3d(0, -50px, 0);
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -50px, 0);
       -moz-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0);
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.slideInDown {
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: slideInDown;
     -moz-animation-name: slideInDown;
          animation-name: slideInDown;
  -webkit-animation-duration: 0.6s;
     -moz-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes slideInUp {
  from {
    -moz-transform: translate3d(0, 50px, 0);
         transform: translate3d(0, 50px, 0);
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 50px, 0);
       -moz-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
     -moz-animation-name: slideInUp;
          animation-name: slideInUp;
  -webkit-animation-iteration-count: 1;
     -moz-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.6s;
     -moz-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes flipOutY {
  from {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

@-moz-keyframes flipOutY {
  from {
    -moz-transform: perspective(400px);
         transform: perspective(400px);
  }
  to {
    -moz-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
         transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

@keyframes flipOutY {
  from {
    -webkit-transform: perspective(400px);
       -moz-transform: perspective(400px);
            transform: perspective(400px);
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
       -moz-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}
.flipOutY {
  -webkit-backface-visibility: visible;
     -moz-backface-visibility: visible;
          backface-visibility: visible;
  -webkit-animation-name: flipOutY;
     -moz-animation-name: flipOutY;
          animation-name: flipOutY;
  -webkit-animation-duration: 0.6s;
     -moz-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
}

@-moz-keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -moz-transform: translate3d(0, 50px, 0);
         transform: translate3d(0, 50px, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
       -moz-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
}
.fadeOutDown {
  -webkit-animation: fadeOutDown 0.6s 1;
     -moz-animation: fadeOutDown 0.6s 1;
          animation: fadeOutDown 0.6s 1;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
          animation-fill-mode: both;
}

/* ------------------------------------------------*/
/* Animations End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Loader Styles Start */
/* ------------------------------------------------*/
.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background-color: #1f1f1f;
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 0.4s 0s, opacity 0.4s, background-color 0.6s ease-in-out;
  -o-transition: visibility 0.4s 0s, opacity 0.4s, background-color 0.6s ease-in-out;
  -moz-transition: visibility 0.4s 0s, opacity 0.4s, background-color 0.6s ease-in-out;
  transition: visibility 0.4s 0s, opacity 0.4s, background-color 0.6s ease-in-out;
}
.loader.fade-dark {
  background-color: #151515;
}
.loader.loaded {
  opacity: 0;
  visibility: hidden;
}

.loader__content {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.loader__logo {
  display: block;
  width: 6rem;
  height: 6rem;
  margin: 0 auto 2.4rem;
}
.loader__logo img {
  display: block;
  width: 100%;
  height: auto;
}

.loader__caption {
  margin: 0 auto;
  text-align: center;
}
.loader__caption .loading-text {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}
.loader__caption .loading-dots {
  position: relative;
  display: inline-block;
  text-align: center;
}
.loader__caption .loading-dots::after {
  clear: both;
  content: "";
  display: table;
}
.loader__caption .loading-dots .dot {
  float: left;
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 0.4rem;
  background: #FFFFFF;
  opacity: 0;
  -webkit-animation: fade 1s infinite;
     -moz-animation: fade 1s infinite;
          animation: fade 1s infinite;
}
.loader__caption .loading-dots .dot:nth-of-type(1) {
  -webkit-animation-delay: 0s;
     -moz-animation-delay: 0s;
          animation-delay: 0s;
}
.loader__caption .loading-dots .dot:nth-of-type(2) {
  -webkit-animation-delay: 0.1s;
     -moz-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.loader__caption .loading-dots .dot:nth-of-type(3) {
  -webkit-animation-delay: 0.2s;
     -moz-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

/* ------------------------------------------------*/
/* Loader Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Loading Animation Styles Start */
/* ------------------------------------------------*/
body.loaded .headline h1 {
  -webkit-animation: 0.6s ease-in-out 1 both slideInUp;
     -moz-animation: 0.6s ease-in-out 1 both slideInUp;
          animation: 0.6s ease-in-out 1 both slideInUp;
}
body.loaded .headline__icon {
  -webkit-animation: 0.6s ease-in-out 1 both slideInDown;
     -moz-animation: 0.6s ease-in-out 1 both slideInDown;
          animation: 0.6s ease-in-out 1 both slideInDown;
}
body.loaded .header__logo,
body.loaded .header__buttons {
  -webkit-animation: 0.6s ease-in-out 0.6s 1 both fadeIn;
     -moz-animation: 0.6s ease-in-out 0.6s 1 both fadeIn;
          animation: 0.6s ease-in-out 0.6s 1 both fadeIn;
}
body.loaded .intro__illusrations .illustration-1 {
  -webkit-animation: 0.6s ease-in-out 0.6s 1 both fadeIn;
     -moz-animation: 0.6s ease-in-out 0.6s 1 both fadeIn;
          animation: 0.6s ease-in-out 0.6s 1 both fadeIn;
}
body.loaded .intro__illusrations .illustration-2 {
  -webkit-animation: 0.3s ease-in-out 1s 1 both slideInUp;
     -moz-animation: 0.3s ease-in-out 1s 1 both slideInUp;
          animation: 0.3s ease-in-out 1s 1 both slideInUp;
}
body.loaded .intro__illusrations .illustration-4 {
  -webkit-animation: 0.3s ease-in-out 1.2s 1 both slideInUp;
     -moz-animation: 0.3s ease-in-out 1.2s 1 both slideInUp;
          animation: 0.3s ease-in-out 1.2s 1 both slideInUp;
}
body.loaded .intro__illusrations .illustration-3 {
  -webkit-animation: 0.3s ease-in-out 1.3s 1 both slideInUp;
     -moz-animation: 0.3s ease-in-out 1.3s 1 both slideInUp;
          animation: 0.3s ease-in-out 1.3s 1 both slideInUp;
}
body.loaded .intro__illusrations .illustration-5 {
  -webkit-animation: 0.3s ease-in-out 1.4s 1 both slideInUp;
     -moz-animation: 0.3s ease-in-out 1.4s 1 both slideInUp;
          animation: 0.3s ease-in-out 1.4s 1 both slideInUp;
}

/* ------------------------------------------------*/
/* Loading Animation Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Fonts Start */
/* ------------------------------------------------*/
/* Raleway Font */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/RalewayMedium/RalewayMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayMedium/RalewayMedium.woff") format("woff"), url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold-LiningNums.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewaySemiBold/RalewaySemiBold-LiningNums.woff2") format("woff2"), url("../fonts/RalewaySemiBold/RalewaySemiBold-LiningNums.woff") format("woff"), url("../fonts/RalewaySemiBold/RalewaySemiBold-LiningNums.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBold/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayExtraBold/RalewayExtraBold.woff") format("woff"), url("../fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
}
/* Playfair Display Font */
@font-face {
  font-family: "PlayfairDisplay";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold-LiningNums.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold-LiningNums.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold-LiningNums.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold/PlayfairDisplay-Bold-LiningNums.ttf") format("truetype");
}
@font-face {
  font-family: "PlayfairDisplay";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.woff") format("woff"), url("../fonts/PlayfairDisplay-BoldItalic/PlayfairDisplay-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PlayfairDisplay";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic.woff") format("woff"), url("../fonts/PlayfairDisplay-Italic/PlayfairDisplay-Italic.ttf") format("truetype");
}
/* ------------------------------------------------*/
/* Fonts End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Base CSS Styles Start */
/* ------------------------------------------------*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

button:active, button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

input::-moz-focus-inner {
  border: 0 !important;
}

::-moz-selection {
  background-color: #343434;
  color: #b6b6b6;
  text-shadow: none;
}

::selection {
  background-color: #343434;
  color: #b6b6b6;
  text-shadow: none;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  min-width: 320px;
  overflow-x: hidden !important;
  font: normal 400 1.6rem/1.7 "Raleway", sans-serif;
  background-color: #ffffff;
  color: #616161;
}

section {
  position: relative;
  width: 100%;
  min-width: 320px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
  color: #616161;
}
a:hover, a:active, a:visited {
  text-decoration: none;
  color: #191919;
}

.overflow-hidden {
  overflow: hidden !important;
}

.no-padding {
  padding: 0;
}

.color-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.color-layer-medium {
  background-color: rgba(0, 0, 0, 0.3);
}

.color-layer-dark {
  background-color: rgba(0, 0, 0, 0.6);
}

/* ------------------------------------------------*/
/* Base CSS Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Typography Styles Start */
/* ------------------------------------------------*/
h1 {
  font: normal 700 3rem/1.2 "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #191919;
  margin: 0;
  padding: 0;
}
h1 small {
  display: block;
  font: normal 400 1.4rem/1.7 "Raleway", sans-serif;
  text-transform: none;
  letter-spacing: normal;
  margin-top: 1rem;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4.8rem;
  }
  h1 small {
    font-size: 1.8rem;
  }
}

.headline__title {
  font: normal 700 3rem/1.2 "Playfair Display", serif;
  color: #262626;
  margin-bottom: 1.6rem;
}
@media only screen and (min-width: 768px) {
  .headline__title {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 1400px) {
  .headline__title {
    font-size: 4.8rem;
    margin-bottom: 2.6rem;
  }
}

.headline__subtitle {
  font: normal 300 1.6rem/1.7 "Raleway", sans-serif;
  max-width: 500px;
  margin: 0 auto;
  color: #444444;
}
@media only screen and (min-width: 1400px) {
  .headline__subtitle {
    font-size: 1.9rem;
  }
}

figcaption p {
  font: normal 500 1.2rem/1.1 "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #262626;
}

/* ------------------------------------------------*/
/* Typography Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Buttons & Triggers Styles Start */
/* ------------------------------------------------*/
.btn {
  position: relative;
  display: inline-block;
  border: none;
  outline: 0;
  padding: 0;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn-demo {
  padding: 0 3.6rem;
  height: 5.2rem;
  line-height: 5.1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.2em;
}

.btn-demo-dark {
  background-color: #191919;
  border: 2px solid #191919;
  color: #ffffff;
}
.btn-demo-dark i,
.btn-demo-dark span {
  color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.no-touch .btn-demo-dark:hover {
  background-color: transparent;
  color: #191919;
}
.no-touch .btn-demo-dark:hover i,
.no-touch .btn-demo-dark:hover span {
  color: #191919;
}
.no-touch .btn-demo-dark:hover svg path {
  fill: #191919;
}

.btn-cart {
  width: 48px;
  height: 48px;
  line-height: 48px;
  padding: 0;
  text-align: center;
}
.btn-cart svg {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: auto;
  height: 20px;
}
.btn-cart svg path {
  fill: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.btn-cart span {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .btn-cart {
    padding: 0 3.6rem;
    width: auto;
    height: 5.2rem;
    line-height: 5.1rem;
  }
  .btn-cart svg {
    display: none;
  }
  .btn-cart span {
    display: inline-block;
  }
}

.to-top-button {
  display: inline-block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background-color: #191919;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.to-top-button.is-visible, .to-top-button.fade-out {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.no-touch .to-top-button:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
  opacity: 1;
}
.to-top-button.is-visible {
  visibility: visible;
  opacity: 1;
}
.to-top-button.fade-out {
  opacity: 1;
}
.to-top-button svg {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: auto;
  height: 16px;
}
.to-top-button svg path {
  fill: #ffffff;
}
@media only screen and (min-width: 768px) {
  .to-top-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .to-top-button.fade-out {
    opacity: 0.3;
  }
}

/* ------------------------------------------------*/
/* Buttons & Triggers Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Intro Styles Start */
/* ------------------------------------------------*/
.demo__intro {
  min-height: 480px;
  text-align: center;
  background-color: #efefef;
  background-image: url("../img/demo/bg-demo.webp");
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
       background-size: cover;
}

.intro__header {
  position: relative;
  padding: 32px -moz-calc(10% - 15px) 0 -moz-calc(10% - 15px);
  padding: 32px calc(10% - 15px) 0 calc(10% - 15px);
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .intro__header {
    padding: 48px -moz-calc(10% - 15px) 0 -moz-calc(10% - 15px);
    padding: 48px calc(10% - 15px) 0 calc(10% - 15px);
  }
}
@media only screen and (min-width: 1200px) {
  .intro__header {
    padding: 48px 85px 0 85px;
  }
}
@media only screen and (min-width: 1400px) {
  .intro__header {
    padding: 80px 105px 0 105px;
  }
}

.header__logo img {
  width: 86px;
}
@media only screen and (min-width: 1200px) {
  .header__logo img {
    width: 106px;
  }
}

.header__buttons {
  text-align: right;
  padding-top: 4px;
}

.intro__content {
  position: relative;
  padding: 0 -moz-calc(10% - 15px);
  padding: 0 calc(10% - 15px);
  z-index: 1;
}
@media only screen and (min-width: 1200px) {
  .intro__content {
    padding: 0 85px;
  }
}
@media only screen and (min-width: 1400px) {
  .intro__content {
    padding: 0 105px;
  }
}

.headline {
  padding: 100px 0 30px 0;
}
@media only screen and (min-width: 1200px) {
  .headline {
    padding: 30px 0;
  }
}

.headline__icon {
  width: 262px;
  padding-left: 3rem;
  height: 160px;
  margin: 0 auto 2.4rem;
}
@media only screen and (min-width: 768px) {
  .headline__icon {
    width: 262px;
  }
}

.intro__illusrations {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  padding-bottom: 3.2rem;
}
@media only screen and (min-width: 768px) {
  .intro__illusrations {
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .intro__illusrations {
    height: 616px;
  }
}
@media only screen and (min-width: 1400px) {
  .intro__illusrations {
    height: 874px;
  }
}

.illustration-1 {
  width: 100%;
  height: auto;
  z-index: 1;
}
@media only screen and (min-width: 1200px) {
  .illustration-1 {
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
    width: 946px;
  }
}
@media only screen and (min-width: 1400px) {
  .illustration-1 {
    width: 1344px;
  }
}

.illustration-2, .illustration-3, .illustration-4, .illustration-5 {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .illustration-2, .illustration-3, .illustration-4, .illustration-5 {
    display: block;
    position: absolute;
  }
}

.illustration-2 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 1200px) {
  .illustration-2 {
    left: 48px;
    top: 140px;
    width: 360px;
    height: 202px;
  }
}
@media only screen and (min-width: 1400px) {
  .illustration-2 {
    left: 66px;
    top: 200px;
    width: 516px;
    height: 290px;
  }
}

.illustration-3 {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 1200px) {
  .illustration-3 {
    left: 86px;
    top: 290px;
    width: 208px;
    height: 156px;
  }
}
@media only screen and (min-width: 1400px) {
  .illustration-3 {
    left: 118px;
    top: 414px;
    width: 300px;
    height: 225px;
  }
}

.illustration-4 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 1200px) {
  .illustration-4 {
    right: 50px;
    top: 170px;
    width: 360px;
    height: 202px;
  }
}
@media only screen and (min-width: 1400px) {
  .illustration-4 {
    width: 516px;
    height: 290px;
  }
}

.illustration-5 {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 1200px) {
  .illustration-5 {
    right: -80px;
    top: 280px;
    width: 360px;
    height: 202px;
  }
}
@media only screen and (min-width: 1400px) {
  .illustration-5 {
    right: -120px;
    top: 400px;
    width: 516px;
    height: 290px;
  }
}

/* ------------------------------------------------*/
/* Intro Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Preview Sections Styles Start */
/* ------------------------------------------------*/
.demo__examples {
  background-color: #f9f9f9;
  padding: 3.2rem 0 0 0;
  color: #444;
}
.demo__examples.last-section {
  padding: 3.2rem 0;
}
@media only screen and (min-width: 768px) {
  .demo__examples {
    padding: 4.4rem 0 0 0;
  }
  .demo__examples.last-section {
    padding: 4.4rem 0;
  }
}

.examples__headline {
  padding: 0 -moz-calc(10% - 15px);
  padding: 0 calc(10% - 15px);
  margin-bottom: 4.8rem;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .examples__headline {
    padding: 0 85px;
  }
}
@media only screen and (min-width: 1400px) {
  .examples__headline {
    padding: 0 105px;
  }
}

.examples__links {
  position: relative;
  padding: 0 -moz-calc(10% - 15px);
  padding: 0 calc(10% - 15px);
}
@media only screen and (min-width: 1200px) {
  .examples__links {
    padding: 0 85px;
  }
}
@media only screen and (min-width: 1400px) {
  .examples__links {
    padding: 0 105px;
  }
}

.links__item {
  position: relative;
}
.links__item a {
  display: block;
}
.no-touch .links__item a:hover .item__image {
  -webkit-transform: translateY(-1.6rem);
     -moz-transform: translateY(-1.6rem);
      -ms-transform: translateY(-1.6rem);
          transform: translateY(-1.6rem);
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}
.no-touch .links__item a:hover .new-item::before {
  top: -14px;
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.1), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.14);
     -moz-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.1), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.14);
          box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.1), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.14);
}

.item__image {
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.06), 0 3px 14px 2px rgba(0, 0, 0, 0.08), 0 5px 5px -3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.06), 0 3px 14px 2px rgba(0, 0, 0, 0.08), 0 5px 5px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.06), 0 3px 14px 2px rgba(0, 0, 0, 0.08), 0 5px 5px -3px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.5s cubic-bezier(0, 1.04, 0.68, 1.04);
  -o-transition: all 0.5s cubic-bezier(0, 1.04, 0.68, 1.04);
  -moz-transition: all 0.5s cubic-bezier(0, 1.04, 0.68, 1.04);
  transition: all 0.5s cubic-bezier(0, 1.04, 0.68, 1.04);
}

.new-item::before {
  content: "NEW";
  position: absolute;
  top: -10px;
  right: -10px;
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
       border-radius: 50%;
  background-color: #f31247;
  color: #ffffff;
  font: normal 600 1.2rem/51px "Raleway", sans-serif;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  text-align: center;
  z-index: 12;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.item__caption {
  display: block;
  text-align: center;
  margin-bottom: 4.8rem;
}
.item__caption p {
  margin-top: 1.6rem;
}
@media only screen and (min-width: 768px) {
  .item__caption {
    margin-bottom: 5.6rem;
  }
  .item__caption p {
    margin-top: 2.4rem;
  }
}
@media only screen and (min-width: 1400px) {
  .item__caption {
    margin-bottom: 7.2rem;
  }
  .item__caption p {
    margin-top: 3rem;
  }
}

/* ------------------------------------------------*/
/* Preview Sections Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Subscribe Section Styles Start */
/* ------------------------------------------------*/
.demo__subscribe {
  padding: 8rem -moz-calc(10% - 15px);
  padding: 8rem calc(10% - 15px);
  background-color: #1f1f1f;
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
       background-size: cover;
  background-image: url("../img/demo/bg-demo-subscribe.webp");
}
@media only screen and (min-width: 768px) {
  .demo__subscribe {
    padding: 10rem -moz-calc(10% - 15px);
    padding: 10rem calc(10% - 15px);
  }
}
@media only screen and (min-width: 1200px) {
  .demo__subscribe {
    padding: 10rem 85px;
  }
}
@media only screen and (min-width: 1400px) {
  .demo__subscribe {
    padding: 11.6rem 105px;
  }
}

.subscribe__container {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  border: 1rem solid #ffffff;
  padding: 0.2rem;
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: cover;
       background-size: cover;
  background-image: url(../img/demo/bg-demo-subscribe-form.webp);
  background-color: #ffffff;
  text-align: center;
}

.subscribe__background {
  background-color: #ffffff;
  padding: 4.8rem 3.2rem;
}

.subscribe__title .title {
  font: normal 700 2.8rem/1.1 "Playfair Display", serif;
  color: #191919;
  margin: 0 0 3rem 0;
}
.subscribe__title .subtitle {
  font: normal 400 1.6rem/1.7 "Raleway", sans-serif;
  color: #000000;
  margin: 0 0 3rem 0;
}
@media only screen and (min-width: 768px) {
  .subscribe__title {
    padding: 0 1.2rem;
  }
  .subscribe__title .title {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 1400px) {
  .subscribe__title .title {
    font-size: 4rem;
  }
}

.form-container {
  position: relative;
}

form {
  position: relative;
  width: 100%;
}
form input {
  position: relative;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  padding: 1rem 0.3rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  -webkit-transition: border 0.6s;
  -o-transition: border 0.6s;
  -moz-transition: border 0.6s;
  transition: border 0.6s;
  height: 4.8rem;
  margin: 0 0 2.4rem 0;
}
@media only screen and (min-width: 768px) {
  form input {
    width: -moz-calc(100% - 2.4rem);
    width: calc(100% - 2.4rem);
    margin: 0 1.2rem 2.4rem 1.2rem;
  }
}

.form-dark ::-webkit-input-placeholder {
  color: #303030;
}
.form-dark :-moz-placeholder {
  color: #303030;
}
.form-dark ::-moz-placeholder {
  color: #303030;
}
.form-dark :-ms-input-placeholder {
  color: #303030;
}
.form-dark input:focus:required:invalid,
.form-dark textarea:focus:required:invalid {
  color: #303030;
}
.form-dark input:required:valid,
.form-dark textarea:required:valid {
  color: #303030;
}
.form-dark input, .form-dark textarea {
  border-bottom: 1px solid #b6b6b6;
  color: #303030;
}
.form-dark input:focus, .form-dark textarea:focus {
  border-bottom: 1px solid #303030;
}

.form {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.form.is-hidden {
  opacity: 0;
}
.form.contact-form {
  text-align: center;
}

.reply-group {
  position: absolute;
  width: 100%;
  max-width: none;
  top: 0;
  left: 0;
  -webkit-transform: translateX(0) translateY(0);
     -moz-transform: translateX(0) translateY(0);
      -ms-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
  padding: 0;
  background-color: transparent;
  border: none;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.reply-group.is-visible {
  opacity: 1;
}
.reply-group i {
  display: block;
  font-size: 4rem;
  line-height: 1;
  color: #191919;
}
.reply-group .reply-group__title {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0.8rem 0;
  color: #191919;
}
.reply-group .reply-group__text {
  display: block;
  font-size: 1.4rem;
  color: #191919;
}

/* ------------------------------------------------*/
/* Subscribe Section Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Footer Styles Start */
/* ------------------------------------------------*/
.demo__footer {
  position: relative;
  padding: 48px -moz-calc(10% - 15px);
  padding: 48px calc(10% - 15px);
  background-color: #ffffff;
}
.demo__footer p {
  font: normal 400 1.4rem/1.2 "Raleway", sans-serif;
  color: #191919;
  text-align: center;
}
.demo__footer a {
  font: italic 700 1.4rem/1.2 "Playfair Display", serif;
  color: #191919;
}
.demo__footer i {
  color: #191919;
}
@media only screen and (min-width: 1200px) {
  .demo__footer {
    padding: 48px 85px;
  }
  .demo__footer p, .demo__footer a, .demo__footer i {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1400px) {
  .demo__footer {
    padding: 48px 105px;
  }
}

/* ------------------------------------------------*/
/* Footer Styles End */
/* ------------------------------------------------*/